
header {
  height: 745px;
  .item {
    height: 745px;
    position: relative;
    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .cover {
      padding: 75px 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      .header-content {
        position: relative;
        padding: 56px;
        overflow: hidden;
        .line {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
          border: 9px solid #007bff;
          -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
          clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
        }
        h2 {
          font-weight: 300;
          font-size: 35px;
          color: #fff;
        }
        h1 {
          font-size: 56px;
          font-weight: 600;
          margin: 5px 0 20px;
          word-spacing: 3px;
          color: #DF6C4F;
        }
        h4 {
          font-size: 24px;
          font-weight: 300;
          line-height: 36px;
          color: #fff;
        }
      }
    }
  }
  .owl-item {
    &.active {
      h1 {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.2s;
      }
      h2 {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.2s;
      }
      h4 {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
        animation-delay: 0.2s;
      }
      .line {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-name: fadeInLeft;
        animation-delay: 0.2s;
      }
    }
  }
  .owl-nav {
    .owl-prev {
      position: absolute;
      left: 15px;
      top: 43%;
      opacity: 0;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: rgba(0, 0, 0, 0.5) !important;
      width: 40px;
      cursor: pointer;
      height: 40px;
      position: absolute;
      display: block;
      z-index: 1000;
      border-radius: 0;
      span {
        font-size: 1.6875rem;
        color: #fff;
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        background: #000 !important;
      }
    }
    .owl-next {
      position: absolute;
      right: 15px;
      top: 43%;
      opacity: 0;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: rgba(0, 0, 0, 0.5) !important;
      width: 40px;
      cursor: pointer;
      height: 40px;
      position: absolute;
      display: block;
      z-index: 1000;
      border-radius: 0;
      span {
        font-size: 1.6875rem;
        color: #fff;
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        background: #000 !important;
      }
    }
  }
  &:hover {
    .owl-prev {
      left: 0px;
      opacity: 1;
    }
    .owl-next {
      right: 0px;
      opacity: 1;
    }
  }
}
