.AppHeader {
  .top-header {
    position: relative;
    z-index: 20;
    font-size: 13px;
    background-color: #002e5b;
    padding: 14px 42px 16px 21px;
    .container {
      .row {
        justify-content: flex-end;
        .info-bar {
          .info-items {
            margin: 0;
            padding: 0 6px 0 0;
            list-style: none;
            display: flex;
            flex-direction: row-reverse;
            li {
              display: inline-block;
              vertical-align: middle;
              padding: 5px 10px;
              color: #fff;
              font-size: 13px;
              i {
                margin: 0 12px 0 0;
                font-size: 18px;
                color: #df6c4f;
              }
              a {
                text-decoration: none;
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
  .nav-bar {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    padding: 23px 0;
    .navbar {
      padding: 0;
    }
    .navbar-brand {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 185px;
      height: 49px;
    }
    .navbar-collapse {
      justify-content: flex-end;
      .navbar-nav {
        .nav-item {
          letter-spacing: -0.04em;
          position: relative;
          float: left;
          font-size: 18px;
          line-height: 1;
          color: #fff;
          font-weight: 600 !important;
          text-transform: lowercase;
          &.dropdown {
            .dropdown-toggle {
              &::after {
                transition-duration: 0.8s;
              }
            }
            &:hover {
              .dropdown-menu {
                display: block;
              }
              .dropdown-toggle {
                &::after {
                  transform: rotate(-180deg);
                }
              }
            }
          }
          .nav-link {
            color: #002e5b;
            padding: 10px 15px;
            height: auto;
            &.disabled {
              color: gray;
              cursor: not-allowed;
            }
          }
          &.active {
            .nav-link {
              color: #6c98e1;
            }
          }
        }
      }
    }
  }
  .header_socials {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    li {
      letter-spacing: -0.04em;
      position: relative;
      float: left;
      font-size: 18px;
      line-height: 1;
      color: #fff;
      font-weight: 600 !important;
      text-transform: lowercase;
      a {
        color: #002e5b;
        padding: 10px 15px;
        height: auto;
      }
    }
  }
}
