<div class="AppHeader">
    <!--Top Header - Only visible on iPad and desktop -->
    <section class="top-header d-none d-sm-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="info-bar row">
                    <!-- <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Location
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div> -->
                    <ul class="info-items">
                        <li v-for="mitem in topMenus">
                            <i :class="getIcon(mitem)" area-hidden="true"></i>
                            <span v-if=mitem.path>
                                <a :href="mitem.path">{{mitem.label}}</a>
                            </span>
                            <span v-else>
                                {{mitem.label}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Actual Navigation Bar -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <router-link tag="a" class="navbar-brand" to="/" :style="{'background-image': 'url(' + require('../../assets/logo.png') + ')'}"></router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <!-- <li v-for="menu in menus" :class="[isCurrentPage(menu.path) ? activeClass: 'nav-item']"> -->
                        <li v-for="menu in menus" :class="getClass(menu)">
                            <a v-if="menu.hasChildren" class="nav-link dropdown-toggle" href="#" :id="changeFormat(menu.label, 'lower')" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{menu.label}}
                                <div class="dropdown-menu" :aria-labelledby="changeFormat(menu.label, 'lower')">
                                    <a v-for="item in menu.items" class="dropdown-item" :href="item.path">{{item.label}}</a>
                                </div>
                            </a>
                            <a v-if="!menu.hasChildren" class="nav-link" :href="menu.path">{{menu.label}}</a>
                        </li>
                    </ul>
                    <ul class="header_socials">
                        <li v-for="sitem in socials">
                            <a :href="sitem.path" target="_blank">
                                <i :class="getIcon(sitem)" area-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>