<template>
  <div class="wrapper">
    <app-header></app-header>
    <!-- route outlet -->
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>
<script>
import AppHeader from "./components/AppHeader/AppHeader.vue";
import AppFooter from "./components/AppFooter/AppFooter.vue";
export default {
  name: "layout",
  components: {
    AppHeader,
    AppFooter
  },
  props: [],
  data() {
    return {};
  },

  created() {},

  methods: {}
};
</script>
<style scoped lang="scss">
.wrapper {
  display: flex;
  flex-direction: column;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}
</style>
