<div class="AppFooter">
    <div class="container">
        <div class="row widgets">
            <div class="col-lg-3 col-md-6 col-sm-12 comp_info">
                <router-link tag="a" class="logo_wrapper" to="/">
                    <img :src="require('../../assets/logo.png')" class="logo" />
                </router-link>
                <span>
                    DigiX has set up an management and IT consulting firm with an exceptionally experienced group.
                    Our proverb is to enable our clients to accomplish the most extreme potential for achievement in
                    their business techniques.
                </span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
            </div>
        </div>
        <div class="copyright_wrap row">
            <div class="socials">
                <ul>
                    <li>
                        <a href="http://www.facebook.com" target="_blank" class="social-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com" target="_blank" class="social-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com" target="_blank" class="social-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                © 2020 <a href="http://consulting.stylemixthemes.com/landing/" target="_blank">DigiX consulting</a>
            </div>
        </div>
    </div>
</div>