.AppFooter {
  background: #002e5b;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.39);
  color: #ffffff;
  padding: 62px 0 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    .comp_info {
      font-size: 13px;
      padding-left: 0px;
      .logo_wrapper {
        display: flex;
        justify-content: left;
        margin: 0 0 37px;
        padding: 22px 0 0;
        .logo {
          height: 45px;
        }
      }
      span {
        opacity: 0.5;
      }
    }
  }
  .widgets {
    margin-bottom: 20px;
  }
  .copyright_wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
    padding: 16px 0 9px;
    .copyright {
      font-size: 13px;
      opacity: 0.5;
      a {
        &:first-child {
          color: inherit;
        }
      }
    }
    .socials {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
        li {
          float: left;
          margin: 0 0 8px 8px;
          a {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 32px;
            background: #fff;
            text-align: center;
            line-height: 32px;
            color: #002e5b;
            font-size: 17px;
            text-decoration: none !important;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
